openapi: 3.0.1
info:
  title: ais-fnd1-6ohufxbigpdyo
  license:
    name: MIT
    url: https://github.com/openai/openai-openapi/blob/master/LICENSE
  version: '1.0'
servers:
  - url: https://apim-lab-sdc-001.azure-api.net/ai/openai/v1
paths:
  /chat/completions:
    post:
      tags:
        - Chat
      summary: Creates a chat completion.
      description: Creates a chat completion.
      operationId: createChatCompletion
      parameters:
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureCreateChatCompletionRequest'
            example:
              model: gpt-4o
              messages:
                - role: system
                  content: You are a helpful assistant
                - role: user
                  content: How are you?
              max_tokens: 50
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureCreateChatCompletionResponse'
              example:
                id: string
                created: 0
                model: string
                system_fingerprint: string
                object: chat.completion
                usage:
                  completion_tokens: 0
                  prompt_tokens: 0
                  total_tokens: 0
                  completion_tokens_details:
                    accepted_prediction_tokens: 0
                    audio_tokens: 0
                    reasoning_tokens: 0
                    rejected_prediction_tokens: 0
                  prompt_tokens_details:
                    audio_tokens: 0
                    cached_tokens: 0
                choices:
                  - finish_reason: stop
                    index: 0
                    logprobs:
                      content:
                        - token: string
                          logprob: 0
                          bytes:
                            - 0
                          top_logprobs:
                            - token: string
                              logprob: 0
                              bytes:
                                - 0
                      refusal:
                        - token: string
                          logprob: 0
                          bytes:
                            - 0
                          top_logprobs:
                            - token: string
                              logprob: 0
                              bytes:
                                - 0
                    content_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                      profanity:
                        filtered: true
                        detected: true
                      custom_blocklists:
                        filtered: true
                        details:
                          - filtered: true
                            id: string
                      custom_topics:
                        filtered: true
                        details:
                          - detected: true
                            id: string
                      error:
                        code: 0
                        message: string
                      protected_material_text:
                        filtered: true
                        detected: true
                      protected_material_code:
                        filtered: true
                        detected: true
                        citation:
                          license: string
                          URL: string
                      ungrounded_material:
                        filtered: true
                        detected: true
                        details:
                          - completion_start_offset: 0
                            completion_end_offset: 0
                      personally_identifiable_information:
                        redacted_text: string
                        sub_categories:
                          - sub_category: string
                            filtered: true
                            detected: true
                            redacted: true
                        filtered: true
                        detected: true
                    message:
                      content: string
                      refusal: string
                      tool_calls:
                        - id: string
                          type: function
                          function:
                            name: string
                            arguments: string
                      annotations:
                        - type: url_citation
                          url_citation:
                            end_index: 0
                            start_index: 0
                            url: string
                            title: string
                      role: assistant
                      function_call:
                        name: string
                        arguments: string
                      audio:
                        id: string
                        expires_at: 0
                        data: string
                        transcript: string
                      context:
                        intent: string
                        citations:
                          - content: string
                            title: string
                            url: string
                            filepath: string
                            chunk_id: string
                            rerank_score: 0
                        all_retrieved_documents:
                          content: string
                          title: string
                          url: string
                          filepath: string
                          chunk_id: string
                          rerank_score: 0
                          search_queries:
                            - string
                          data_source_index: 0
                          original_search_score: 0
                          filter_reason: score
                      reasoning_content: string
                prompt_filter_results:
                  - prompt_index: 0
                    content_filter_results:
                      prompt_index: 0
                      content_filter_results:
                        sexual:
                          filtered: true
                          severity: safe
                        hate:
                          filtered: true
                          severity: safe
                        violence:
                          filtered: true
                          severity: safe
                        self_harm:
                          filtered: true
                          severity: safe
                        profanity:
                          filtered: true
                          detected: true
                        custom_blocklists:
                          filtered: true
                          details:
                            - filtered: true
                              id: string
                        custom_topics:
                          filtered: true
                          details:
                            - detected: true
                              id: string
                        error:
                          code: 0
                          message: string
                        jailbreak:
                          filtered: true
                          detected: true
                        indirect_attack:
                          filtered: true
                          detected: true
            text/event-stream:
              schema:
                $ref: '#/components/schemas/AzureCreateChatCompletionStreamResponse'
              examples:
                default:
                  value: 
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  /containers:
    get:
      tags:
        - Containers
      summary: ListContainers
      operationId: ListContainers
      parameters:
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: limit
          in: query
          description: "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the\ndefault is 20."
          schema:
            type: integer
            format: int32
            default: 20
        - name: order
          in: query
          description: "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and`desc`\nfor descending order."
          schema:
            enum:
              - asc
              - desc
            type: string
        - name: after
          in: query
          description: "A cursor for use in pagination. `after` is an object ID that defines your place in the list.\nFor instance, if you make a list request and receive 100 objects, ending with obj_foo, your\nsubsequent call can include after=obj_foo in order to fetch the next page of the list."
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.ContainerListResource'
              example:
                object: list
                data:
                  - id: string
                    object: string
                    name: string
                    created_at: 0
                    status: string
                    expires_after:
                      anchor: last_active_at
                      minutes: 0
                first_id: string
                last_id: string
                has_more: true
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
    post:
      tags:
        - Containers
      summary: CreateContainer
      operationId: CreateContainer
      parameters:
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAI.CreateContainerBody'
            example:
              name: string
              file_ids:
                - string
              expires_after:
                anchor: last_active_at
                minutes: 0
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.ContainerResource'
              example:
                id: string
                object: string
                name: string
                created_at: 0
                status: string
                expires_after:
                  anchor: last_active_at
                  minutes: 0
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  '/containers/{container_id}':
    get:
      tags:
        - Containers
      summary: RetrieveContainer
      operationId: RetrieveContainer
      parameters:
        - name: container_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.ContainerResource'
              example:
                id: string
                object: string
                name: string
                created_at: 0
                status: string
                expires_after:
                  anchor: last_active_at
                  minutes: 0
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
    delete:
      tags:
        - Containers
      summary: DeleteContainer
      operationId: DeleteContainer
      parameters:
        - name: container_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                required:
                  - id
                  - object
                  - deleted
                type: object
                properties:
                  id:
                    type: string
                  object:
                    enum:
                      - container.deleted
                    type: string
                  deleted:
                    enum:
                      - true
                    type: boolean
              example:
                id: string
                object: container.deleted
                deleted: true
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  '/containers/{container_id}/files':
    post:
      tags:
        - Containers
      summary: CreateContainerFile
      operationId: CreateContainerFile
      parameters:
        - name: container_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file_id:
                  type: string
                  description: Name of the file to create.
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.ContainerFileResource'
              example:
                id: string
                object: string
                container_id: string
                created_at: 0
                bytes: 0
                path: string
                source: string
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
    get:
      tags:
        - Containers
      summary: ListContainerFiles
      operationId: ListContainerFiles
      parameters:
        - name: container_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: limit
          in: query
          description: "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the\ndefault is 20."
          schema:
            type: integer
            format: int32
            default: 20
        - name: order
          in: query
          description: "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and`desc`\nfor descending order."
          schema:
            enum:
              - asc
              - desc
            type: string
        - name: after
          in: query
          description: "A cursor for use in pagination. `after` is an object ID that defines your place in the list.\nFor instance, if you make a list request and receive 100 objects, ending with obj_foo, your\nsubsequent call can include after=obj_foo in order to fetch the next page of the list."
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.ContainerFileListResource'
              example:
                object: list
                data:
                  - id: string
                    object: string
                    container_id: string
                    created_at: 0
                    bytes: 0
                    path: string
                    source: string
                first_id: string
                last_id: string
                has_more: true
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  '/containers/{container_id}/files/{file_id}':
    get:
      tags:
        - Containers
      summary: RetrieveContainerFile
      operationId: RetrieveContainerFile
      parameters:
        - name: container_id
          in: path
          required: true
          schema:
            type: string
        - name: file_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.ContainerFileResource'
              example:
                id: string
                object: string
                container_id: string
                created_at: 0
                bytes: 0
                path: string
                source: string
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
    delete:
      tags:
        - Containers
      summary: DeleteContainerFile
      operationId: DeleteContainerFile
      parameters:
        - name: container_id
          in: path
          required: true
          schema:
            type: string
        - name: file_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                required:
                  - id
                  - object
                  - deleted
                type: object
                properties:
                  id:
                    type: string
                  object:
                    enum:
                      - container.file.deleted
                    type: string
                  deleted:
                    enum:
                      - true
                    type: boolean
              example:
                id: string
                object: container.file.deleted
                deleted: true
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  '/containers/{container_id}/files/{file_id}/content':
    get:
      tags:
        - Containers
      summary: RetrieveContainerFileContent
      operationId: RetrieveContainerFileContent
      parameters:
        - name: container_id
          in: path
          required: true
          schema:
            type: string
        - name: file_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
              examples:
                default:
                  value: 
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  /embeddings:
    post:
      tags:
        - Embeddings
      summary: Creates an embedding vector representing the input text.
      description: Creates an embedding vector representing the input text.
      operationId: createEmbedding
      parameters:
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureCreateEmbeddingRequest'
            example:
              model: text-embedding-ada-002
              input: How are you?
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.CreateEmbeddingResponse'
              example:
                data:
                  - index: 0
                    embedding: { }
                    object: embedding
                model: string
                object: list
                usage:
                  prompt_tokens: 0
                  total_tokens: 0
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  /evals:
    get:
      tags:
        - Evals
      summary: List evaluations for a project.
      description: List evaluations for a project.
      operationId: listEvals
      parameters:
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: after
          in: query
          description: Identifier for the last eval from the previous pagination request.
          schema:
            type: string
        - name: limit
          in: query
          description: A limit on the number of evals to be returned in a single pagination response.
          schema:
            type: integer
            format: int32
            default: 20
        - name: order
          in: query
          description: "Sort order for evals by timestamp. Use `asc` for ascending order or\n`desc` for descending order."
          schema:
            enum:
              - asc
              - desc
            type: string
            default: asc
        - name: order_by
          in: query
          description: "Evals can be ordered by creation time or last updated time. Use\n`created_at` for creation time or `updated_at` for last updated\ntime."
          schema:
            enum:
              - created_at
              - updated_at
            type: string
            default: created_at
        - name: aoai-evals
          in: header
          description: "Enables access to AOAI Evals, a preview feature.\nThis feature requires the 'aoai-evals' header to be set to 'preview'."
          required: true
          schema:
            enum:
              - preview
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.EvalList'
              example:
                object: list
                data:
                  - object: eval
                    id: string
                    name: string
                    data_source_config:
                      type: custom
                    testing_criteria: 
                    created_at: 0
                    metadata: { }
                first_id: string
                last_id: string
                has_more: true
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
    post:
      tags:
        - Evals
      summary: "Create the structure of an evaluation that can be used to test a model's\nperformance."
      description: "Create the structure of an evaluation that can be used to test a model's\nperformance.\n\nAn evaluation is a set of testing criteria and a datasource. After\ncreating an evaluation, you can run it on different models and model\nparameters. We support several types of graders and datasources.\n\nFor more information, see the [Evals guide](/docs/guides/evals).\n\nNOTE: This Azure OpenAI API is in preview and subject to change."
      operationId: createEval
      parameters:
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: aoai-evals
          in: header
          description: "Enables access to AOAI Evals, a preview feature.\nThis feature requires the 'aoai-evals' header to be set to 'preview'."
          required: true
          schema:
            enum:
              - preview
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - statusCode
                - data_source_config
                - testing_criteria
              type: object
              properties:
                statusCode:
                  enum:
                    - 201
                  type: number
                name:
                  type: string
                  description: The name of the evaluation.
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                  description: "Set of 16 key-value pairs that can be attached to an object. This can be\nuseful for storing additional information about the object in a structured\nformat, and querying for objects via API or the dashboard.\n\nKeys are strings with a maximum length of 64 characters. Values are strings\nwith a maximum length of 512 characters."
                  x-oaiTypeLabel: map
                data_source_config:
                  allOf:
                    - $ref: '#/components/schemas/OpenAI.EvalDataSourceConfigParams'
                  description: The configuration for the data source used for the evaluation runs. Dictates the schema of the data used in the evaluation.
                testing_criteria:
                  type: array
                  items:
                    $ref: '#/components/schemas/OpenAI.EvalGraderParams'
                  description: 'A list of graders for all eval runs in this group. Graders can reference variables in the data source using double curly braces notation, like `{{item.variable_name}}`. To reference the model''s output, use the `sample` namespace (ie, `{{sample.output_text}}`).'
            example:
              statusCode: 201
              name: string
              metadata: { }
              data_source_config:
                type: custom
              testing_criteria:
                - type: string_check
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.Eval'
              example:
                object: eval
                id: string
                name: string
                data_source_config:
                  type: custom
                testing_criteria: 
                created_at: 0
                metadata: { }
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  '/evals/{eval_id}':
    get:
      tags:
        - Evals
      summary: Retrieves an evaluation by its ID.
      description: "Retrieves an evaluation by its ID.\n\nNOTE: This Azure OpenAI API is in preview and subject to change."
      operationId: getEval
      parameters:
        - name: eval_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: aoai-evals
          in: header
          description: "Enables access to AOAI Evals, a preview feature.\nThis feature requires the 'aoai-evals' header to be set to 'preview'."
          required: true
          schema:
            enum:
              - preview
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.Eval'
              example:
                object: eval
                id: string
                name: string
                data_source_config:
                  type: custom
                testing_criteria: 
                created_at: 0
                metadata: { }
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
    post:
      tags:
        - Evals
      summary: 'Update select, mutable properties of a specified evaluation.'
      description: "Update select, mutable properties of a specified evaluation.\n\nNOTE: This Azure OpenAI API is in preview and subject to change."
      operationId: updateEval
      parameters:
        - name: eval_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: aoai-evals
          in: header
          description: "Enables access to AOAI Evals, a preview feature.\nThis feature requires the 'aoai-evals' header to be set to 'preview'."
          required: true
          schema:
            enum:
              - preview
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                metadata:
                  $ref: '#/components/schemas/OpenAI.MetadataPropertyForRequest'
            example:
              name: string
              metadata:
                metadata: { }
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.Eval'
              example:
                object: eval
                id: string
                name: string
                data_source_config:
                  type: custom
                testing_criteria: 
                created_at: 0
                metadata: { }
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
    delete:
      tags:
        - Evals
      summary: Delete a specified evaluation.
      description: "Delete a specified evaluation.\n\nNOTE: This Azure OpenAI API is in preview and subject to change."
      operationId: deleteEval
      parameters:
        - name: eval_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: aoai-evals
          in: header
          description: "Enables access to AOAI Evals, a preview feature.\nThis feature requires the 'aoai-evals' header to be set to 'preview'."
          required: true
          schema:
            enum:
              - preview
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                required:
                  - object
                  - deleted
                  - eval_id
                type: object
                properties:
                  object:
                    enum:
                      - eval.deleted
                    type: string
                  deleted:
                    type: boolean
                  eval_id:
                    type: string
              example:
                object: eval.deleted
                deleted: true
                eval_id: string
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  '/evals/{eval_id}/runs':
    get:
      tags:
        - Evals
      summary: Retrieve a list of runs for a specified evaluation.
      description: "Retrieve a list of runs for a specified evaluation.\n\nNOTE: This Azure OpenAI API is in preview and subject to change."
      operationId: getEvalRuns
      parameters:
        - name: eval_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: after
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 20
        - name: order
          in: query
          schema:
            enum:
              - asc
              - desc
            type: string
            default: asc
        - name: status
          in: query
          schema:
            enum:
              - queued
              - in_progress
              - completed
              - canceled
              - failed
            type: string
        - name: aoai-evals
          in: header
          description: "Enables access to AOAI Evals, a preview feature.\nThis feature requires the 'aoai-evals' header to be set to 'preview'."
          required: true
          schema:
            enum:
              - preview
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.EvalRunList'
              example:
                object: list
                data:
                  - object: eval.run
                    id: string
                    eval_id: string
                    status: string
                    model: string
                    name: string
                    created_at: 0
                    report_url: string
                    result_counts:
                      total: 0
                      errored: 0
                      failed: 0
                      passed: 0
                    per_model_usage:
                      - model_name: string
                        invocation_count: 0
                        prompt_tokens: 0
                        completion_tokens: 0
                        total_tokens: 0
                        cached_tokens: 0
                    per_testing_criteria_results:
                      - testing_criteria: string
                        passed: 0
                        failed: 0
                    data_source:
                      type: jsonl
                    metadata: { }
                    error:
                      code: string
                      message: string
                first_id: string
                last_id: string
                has_more: true
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
    post:
      tags:
        - Evals
      summary: 'Create a new evaluation run, beginning the grading process.'
      description: "Create a new evaluation run, beginning the grading process.\n\nNOTE: This Azure OpenAI API is in preview and subject to change."
      operationId: createEvalRun
      parameters:
        - name: eval_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: aoai-evals
          in: header
          description: "Enables access to AOAI Evals, a preview feature.\nThis feature requires the 'aoai-evals' header to be set to 'preview'."
          required: true
          schema:
            enum:
              - preview
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAI.CreateEvalRunRequest'
            example:
              name: string
              metadata: { }
              data_source:
                type: jsonl
      responses:
        '201':
          description: The request has succeeded and a new resource has been created as a result.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.EvalRun'
              example:
                object: eval.run
                id: string
                eval_id: string
                status: string
                model: string
                name: string
                created_at: 0
                report_url: string
                result_counts:
                  total: 0
                  errored: 0
                  failed: 0
                  passed: 0
                per_model_usage:
                  - model_name: string
                    invocation_count: 0
                    prompt_tokens: 0
                    completion_tokens: 0
                    total_tokens: 0
                    cached_tokens: 0
                per_testing_criteria_results:
                  - testing_criteria: string
                    passed: 0
                    failed: 0
                data_source:
                  type: jsonl
                metadata: { }
                error:
                  code: string
                  message: string
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  '/evals/{eval_id}/runs/{run_id}':
    get:
      tags:
        - Evals
      summary: Retrieve a specific evaluation run by its ID.
      description: "Retrieve a specific evaluation run by its ID.\n\nNOTE: This Azure OpenAI API is in preview and subject to change."
      operationId: getEvalRun
      parameters:
        - name: eval_id
          in: path
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: aoai-evals
          in: header
          description: "Enables access to AOAI Evals, a preview feature.\nThis feature requires the 'aoai-evals' header to be set to 'preview'."
          required: true
          schema:
            enum:
              - preview
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.EvalRun'
              example:
                object: eval.run
                id: string
                eval_id: string
                status: string
                model: string
                name: string
                created_at: 0
                report_url: string
                result_counts:
                  total: 0
                  errored: 0
                  failed: 0
                  passed: 0
                per_model_usage:
                  - model_name: string
                    invocation_count: 0
                    prompt_tokens: 0
                    completion_tokens: 0
                    total_tokens: 0
                    cached_tokens: 0
                per_testing_criteria_results:
                  - testing_criteria: string
                    passed: 0
                    failed: 0
                data_source:
                  type: jsonl
                metadata: { }
                error:
                  code: string
                  message: string
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
    post:
      tags:
        - Evals
      summary: Cancel a specific evaluation run by its ID.
      description: "Cancel a specific evaluation run by its ID.\n\nNOTE: This Azure OpenAI API is in preview and subject to change."
      operationId: cancelEvalRun
      parameters:
        - name: eval_id
          in: path
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: aoai-evals
          in: header
          description: "Enables access to AOAI Evals, a preview feature.\nThis feature requires the 'aoai-evals' header to be set to 'preview'."
          required: true
          schema:
            enum:
              - preview
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.EvalRun'
              example:
                object: eval.run
                id: string
                eval_id: string
                status: string
                model: string
                name: string
                created_at: 0
                report_url: string
                result_counts:
                  total: 0
                  errored: 0
                  failed: 0
                  passed: 0
                per_model_usage:
                  - model_name: string
                    invocation_count: 0
                    prompt_tokens: 0
                    completion_tokens: 0
                    total_tokens: 0
                    cached_tokens: 0
                per_testing_criteria_results:
                  - testing_criteria: string
                    passed: 0
                    failed: 0
                data_source:
                  type: jsonl
                metadata: { }
                error:
                  code: string
                  message: string
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
    delete:
      tags:
        - Evals
      summary: Delete a specific evaluation run by its ID.
      description: "Delete a specific evaluation run by its ID.\n\nNOTE: This Azure OpenAI API is in preview and subject to change."
      operationId: deleteEvalRun
      parameters:
        - name: eval_id
          in: path
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: aoai-evals
          in: header
          description: "Enables access to AOAI Evals, a preview feature.\nThis feature requires the 'aoai-evals' header to be set to 'preview'."
          required: true
          schema:
            enum:
              - preview
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                required:
                  - object
                  - deleted
                  - eval_run_id
                type: object
                properties:
                  object:
                    enum:
                      - eval_run.deleted
                    type: string
                  deleted:
                    type: boolean
                  eval_run_id:
                    type: string
              example:
                object: eval_run.deleted
                deleted: true
                eval_run_id: string
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  '/evals/{eval_id}/runs/{run_id}/output_items':
    get:
      tags:
        - Evals
      summary: Get a list of output items for a specified evaluation run.
      description: "Get a list of output items for a specified evaluation run.\n\nNOTE: This Azure OpenAI API is in preview and subject to change."
      operationId: getEvalRunOutputItems
      parameters:
        - name: eval_id
          in: path
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: after
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 20
        - name: status
          in: query
          schema:
            enum:
              - fail
              - pass
            type: string
        - name: order
          in: query
          schema:
            enum:
              - asc
              - desc
            type: string
            default: asc
        - name: aoai-evals
          in: header
          description: "Enables access to AOAI Evals, a preview feature.\nThis feature requires the 'aoai-evals' header to be set to 'preview'."
          required: true
          schema:
            enum:
              - preview
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.EvalRunOutputItemList'
              example:
                object: list
                data:
                  - object: eval.run.output_item
                    id: string
                    run_id: string
                    eval_id: string
                    created_at: 0
                    status: string
                    datasource_item_id: 0
                    datasource_item: { }
                    results:
                      - { }
                    sample:
                      input:
                        - role: string
                          content: string
                      output:
                        - role: string
                          content: string
                      finish_reason: string
                      model: string
                      usage:
                        total_tokens: 0
                        completion_tokens: 0
                        prompt_tokens: 0
                        cached_tokens: 0
                      error:
                        code: string
                        message: string
                      temperature: 0
                      max_completion_tokens: 0
                      top_p: 0
                      seed: 0
                first_id: string
                last_id: string
                has_more: true
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  '/evals/{eval_id}/runs/{run_id}/output_items/{output_item_id}':
    get:
      tags:
        - Evals
      summary: Retrieve a specific output item from an evaluation run by its ID.
      description: "Retrieve a specific output item from an evaluation run by its ID.\n\nNOTE: This Azure OpenAI API is in preview and subject to change."
      operationId: getEvalRunOutputItem
      parameters:
        - name: eval_id
          in: path
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          required: true
          schema:
            type: string
        - name: output_item_id
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: aoai-evals
          in: header
          description: "Enables access to AOAI Evals, a preview feature.\nThis feature requires the 'aoai-evals' header to be set to 'preview'."
          required: true
          schema:
            enum:
              - preview
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.EvalRunOutputItem'
              example:
                object: eval.run.output_item
                id: string
                run_id: string
                eval_id: string
                created_at: 0
                status: string
                datasource_item_id: 0
                datasource_item: { }
                results:
                  - { }
                sample:
                  input:
                    - role: string
                      content: string
                  output:
                    - role: string
                      content: string
                  finish_reason: string
                  model: string
                  usage:
                    total_tokens: 0
                    completion_tokens: 0
                    prompt_tokens: 0
                    cached_tokens: 0
                  error:
                    code: string
                    message: string
                  temperature: 0
                  max_completion_tokens: 0
                  top_p: 0
                  seed: 0
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  /files:
    post:
      tags:
        - Files
      summary: createFile
      operationId: createFile
      parameters:
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - expires_after
                - purpose
              properties:
                file:
                  type: string
                  format: binary
                expires_after:
                  type: object
                purpose:
                  enum:
                    - assistants
                    - batch
                    - fine-tune
                    - evals
                  type: string
                  description: 'The intended purpose of the uploaded file. One of: - `assistants`: Used in the Assistants API - `batch`: Used in the Batch API - `fine-tune`: Used for fine-tuning - `evals`: Used for eval data sets'
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureOpenAIFile'
              example:
                id: string
                bytes: 0
                created_at: 0
                expires_at: 0
                filename: string
                object: file
                status_details: string
                purpose: assistants
                status: uploaded
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
    get:
      tags:
        - Files
      summary: listFiles
      operationId: listFiles
      parameters:
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
        - name: purpose
          in: query
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureListFilesResponse'
              example:
                object: list
                data:
                  - id: string
                    bytes: 0
                    created_at: 0
                    expires_at: 0
                    filename: string
                    object: file
                    status_details: string
                    purpose: assistants
                    status: uploaded
                first_id: string
                last_id: string
                has_more: true
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  '/files/{file_id}':
    get:
      tags:
        - Files
      summary: retrieveFile
      operationId: retrieveFile
      parameters:
        - name: file_id
          in: path
          description: The ID of the file to use for this request.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureOpenAIFile'
              example:
                id: string
                bytes: 0
                created_at: 0
                expires_at: 0
                filename: string
                object: file
                status_details: string
                purpose: assistants
                status: uploaded
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
    delete:
      tags:
        - Files
      summary: deleteFile
      operationId: deleteFile
      parameters:
        - name: file_id
          in: path
          description: The ID of the file to use for this request.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.DeleteFileResponse'
              example:
                id: string
                object: file
                deleted: true
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  '/files/{file_id}/content':
    get:
      tags:
        - Files
      summary: downloadFile
      operationId: downloadFile
      parameters:
        - name: file_id
          in: path
          description: The ID of the file to use for this request.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      responses:
        '200':
          description: The request has succeeded.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
              examples:
                default:
                  value: 
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  /fine_tuning/alpha/graders/run:
    post:
      tags:
        - Fine-tuning
      summary: Run a grader.
      description: Run a grader.
      operationId: runGrader
      parameters:
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAI.RunGraderRequest'
            example:
              grader:
                type: string_check
                name: string
                input: string
                reference: string
                operation: eq
              item: { }
              model_sample: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.RunGraderResponse'
              example:
                reward: 0
                metadata:
                  name: string
                  type: string
                  errors:
                    formula_parse_error: true
                    sample_parse_error: true
                    truncated_observation_error: true
                    unresponsive_reward_error: true
                    invalid_variable_error: true
                    other_error: true
                    python_grader_server_error: true
                    python_grader_server_error_type: string
                    python_grader_runtime_error: true
                    python_grader_runtime_error_details: string
                    model_grader_server_error: true
                    model_grader_refusal_error: true
                    model_grader_parse_error: true
                    model_grader_server_error_details: string
                  execution_time: 0
                  scores: { }
                  token_usage: 0
                  sampled_model_name: string
                sub_rewards: { }
                model_grader_token_usage_per_model: { }
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
        '500':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
                  code: string
                  message: string
                  param: string
                  type: error
                  inner_error: { }
  /fine_tuning/alpha/graders/validate:
    post:
      tags:
        - Fine-tuning
      summary: Validate a grader.
      description: Validate a grader.
      operationId: validateGrader
      parameters:
        - name: api-version
          in: query
          description: "The explicit Microsoft Foundry Models API version to use for this request.\n`v1` if not otherwise specified."
          schema:
            $ref: '#/components/schemas/AzureAIFoundryModelsApiVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAI.ValidateGraderRequest'
            example:
              grader:
                type: string_check
                name: string
                input: string
                reference: string
                operation: eq
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAI.ValidateGraderResponse'
              example:
                grader:
                  type: string_check
                  name: string
                  input: string
                  reference: string
                  operation: eq
        '400':
          description: An unexpected error response.
          headers:
            apim-request-id:
              description: A request ID used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureErrorResponse'
              example:
                error:
[...]
